*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6E3EC;

}
.container{
    width: 100%;
    margin-left: 30px;
}
.nav__1{
width: 98%;
background-color: red;
display: flex;
justify-content: space-around;
padding: 20px 0px 20px 0px;
background-color: #24252A;
margin-bottom: 100px;
margin-top: 100px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.nav__2{
    width: 98%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
    background-color: #24252A;
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.nav__3{
    width: 98%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
    background-color: #24252A;
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.title_2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding-left: 200px;
}
.nav__list{
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
    margin-top: 8px;
}
.nav__list_2{
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
    margin-top: 8px;
    padding-left: 200px;
}
.contact{
    text-decoration: none;
    color: white;
    background-color: #0189A0;
    padding: 10px 30px 10px 30px;
    border-radius: 200px;
}